.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    position: relative;
    width: 320px;
    margin-bottom: 20px;
    border: 1px solid #ff0000;
    padding: 0.8rem;
    margin-left: 1.5rem;
}

.product:first-child {
    margin-left: 0;
}

.product img {
    width: 100%;
}

.product .price{
    position: absolute;
    top: 15rem;
    left: 2rem;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.8);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.product p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.product .add-to-cart{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left:auto;
}